@use "./mixins" as *; // 추가: _mixins.scss에 있는 변수들을 가져옵니다.

// 로고 스타일
.logo {
	display: flex;
	align-items: center;
	padding: 0 20px;
	height: 97px;

	@media (max-width: 768px) {
		height: 64px;
	}
}

// 공통 헤더
header.common {
	position: sticky;
	display: inline-flex;
	flex-direction: column;
	padding: 0;
	height: 100%;
	top: -2px;
	left: 0;
	z-index: 6;
	max-width: 340px;
	width: 100%;
	box-sizing: border-box;
	vertical-align: top;
	overflow: auto;
	transition: all 0.3s;

	// 관리자 헤더 컴포넌트가 들어올 경우
	.admin-header {
		margin: auto;
	}

	// 메뉴 토글 버튼
	.ctrl-gnb {
		--maskimg: url('/img/common/icon-svg-menu.svg'); // 경로 수정 권장

		&::before {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			background-color: currentColor;
			mask-size: contain;
			mask-position: 50% 50%;
			mask-repeat: no-repeat;
			mask-image: var(--maskimg);
			-webkit-mask-size: contain;
			-webkit-mask-position: 50% 50%;
			-webkit-mask-image: var(--maskimg);
		}
	}

	// 확장되었을 때 (expanded 클래스가 붙었을 때)
	&.expanded {
		.ctrl-gnb {
			--maskimg: url('/img/common/icon-svg-arrow-narrow-left.svg');
		}
	}

	// 컴포넌트 영역
	.global-nav {
		flex: 1;
	}

	// 미디어 쿼리 중첩
	@include respond-to('desktop') {
		// 1440px 이하에서는 최대 너비 제한
		max-width: 110px;
	}

	@media (max-width: 1024px) {
		position: fixed;
		top: 0;
		max-width: 440px;
		background-color: var(--body-background-color);
		box-shadow: 2px 0 30px hsl(0 0% 0% / 0.2);
		transform: translateX(-100%);
		overflow: visible;

		.ctrl-gnb {
			position: absolute;
			left: 100%;
			width: 1.5em;
			height: 1.5em;
			font-size: 24px;
			top: 1.7rem;
			transform: translateX(1em) translateY(-4px);
		}

		&.expanded {
			overflow: auto;
			transform: translateX(0%);

			.ctrl-gnb {
				transform: translateX(-2em) translateY(-50%);
			}
		}
	}
}

// 메인 및 컨테이너
#container.common {
	flex: 1;
	margin: 0;
	transition: margin-left 0.3s;
	max-width: 100%;
	padding-bottom: 2em;
}

main.common {
	display: inline-block;
	flex: 1;
	max-width: 100%;
	min-height: 100%;
	height: max-content;
	padding: 0 40px 40px;
	vertical-align: top;

	.contents {

		// 프로젝트 리스트가 포함된 경우
		&.has-project-list {
			min-height: 80vh;
			display: flex;
			flex-direction: column;
		}
	}

	@media (max-width: 1280px) {
		padding: 0 20px 40px;
	}
}

// 페이지 헤더
.page-header {
	height: 97px;
	display: flex;
	align-items: center;

	.page-title {
		font-size: 28px;
		font-weight: 800;
		color: var(--font-color-default);
		margin: 0 auto 0 0;
	}

	@media (max-width: 1280px) {
		.page-title {
			font-size: 24px;
		}
	}

	@media (max-width: 768px) {
		height: 64px;
	}
}

// 기타 공통 섹션 및 리스트
.section {
	display: block;

	&+.section {
		margin-top: 30px;
	}
}

.list-item-type3 {
	display: block;

	&+.list-item-type3 {
		margin-top: 1em;
	}
}

// 모달 수정
.my-modal {
	.btn-close {
		background-color: red;
	}
}