.project-list-item {
	display: flex;
	align-items: center;
	width: 100%;
	gap: 1em;
	padding: 16px 40px 16px 32px;
	border-radius: var(--border-radius-default);
	background-color: var(--section-background-color);
	min-height: 90px;

	transition: all .2s;
	box-shadow: rgba(0, 0, 0, 0) 0px 0px 20px;

	&:hover {
		box-shadow: 0 0 2em hsl(0 0% 0% / .05);
	}

	.info {
		display: flex;
		align-items: center;
		gap: 4px 0em;
		flex: 0 1 400px;
		max-width: 400px;
	}

	.category {
		flex: none;
		display: inline-flex;
		width: calc(3em + 5em);
		gap: 12px;
		font-size: 16px;
		line-height: 1.3;
		align-items: center;
		margin-right: 1em;

		dl>* {
			margin: 0;
		}

		i {
			box-sizing: content-box;
			padding: 18px;
			border-radius: var(--border-radius-default);
		}

		&.c-type-1 {

			// web 
			i {
				background-color: var(--web);
			}

			dt {
				color: #FAA329;
			}
		}

		&.c-type-2 {
			i {
				// print
				background-color: var(--print);
			}

			dt {
				color: #0EA9CF;
			}
		}

		&.c-type-3 {

			// contents
			i {
				background-color: var(--contents);
			}

			dt {
				color: #FF6632;
			}
		}

		&.c-type-4 {
			i {
				// branding
				background-color: var(--branding);
			}

			dt {
				color: #44C800;
			}
		}

		&.c-type-5 {
			i {
				// me
				background-color: var(--me);
			}

			dt {
				color: #0EA9CF;
			}
		}

	}

	.title {
		flex: 1 1 auto;
		font-size: 18px;
		max-width: 240px;

		.text {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			color: var(--font-color-default);
			font-weight: 700;
		}
	}

	@media(min-width: 1600px) {
		.info {
			flex-grow: 1
		}
	}

	.member-count {
		display: inline-flex;
		width: 2em;
		height: 2em;
		background-color: var(--dark-100);
		border-radius: var(--border-radius-default);
		overflow: hidden;
		margin: 0px;

		&.no-member {
			background-color: transparent;
			border-radius: 0;
		}

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center center;
		}
	}


	.item-images-count {
		position: relative;
		display: inline-flex;
		width: 2em;
		height: 2em;
		background-color: var(--dark-100);
		border-radius: var(--border-radius-4px);
		overflow: visible;
		margin: 0px;

		img {
			max-width: 100%;
			max-height: 100%;
			line-height: 1;
			font-size: 10px;
		}

	}

	.plus-more {
		position: absolute;
		font-size: 12px;
		line-height: 1;
		padding: 2px 4px;
		box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 10px;
		border-radius: 100em;
		letter-spacing: 2px;
		bottom: -0.7em;
		left: calc(50% + 0.5em);
		z-index: 1;
		background-color: rgb(255, 255, 255);

		i {
			font-style: normal;
		}
	}

	.state-before,
	.state-ongoing,
	.state-complete,
	.state-unknown {
		display: inline-flex;
		align-items: center;
		min-width: auto;
		gap: 4px;
		font-size: calc(1em - 1px);
		line-height: 1;
		color: var(--dark-600);
		padding: 6px 8px;
		white-space: nowrap;
		flex: 0 0 auto;
		background-color: transparent;
		border-radius: 100em;
	}


	.state-before {
		border: 1px solid rgb(214, 219, 216);
		background-color: var(--dark-100);
	}

	.state-ongoing {
		color: #009e97;
		border: solid 1px #b9eeec;
		background-color: #daf6f5;
	}

	.state-complete {
		color: #107fe8;
		border: solid 1px #cfe6fc;
		background-color: #ecf5fe;
	}




	.btn-wrap {
		display: inline-flex;
		gap: 8px 0.5em;

		.btn {
			line-height: 1;
			font-size: calc(1em - 2px);
			padding: 6px 10px;
			--bmh-btn-hover-color: var(--primary-700);
			--bmh-btn-hover-bg: var(--primary-50);

			&:hover {
				color: var(--bmh-btn-hover-color);
			}
		}
	}
}





.projects-nav {
	.nav-list {
		display: inline-flex;
		align-items: center;
		gap: 5px 12px;
		padding: 0;
		margin: 0;
		list-style: none;

		.nav-item {
			line-height: 1.3;
			color: var(--dark-600);
			padding: 0.5em 1em 0.5em 0.5em;

			vertical-align: middle;
			color: var(--fcColor, var(--dark-800));
			background-color: var(--tab-menu-bc);
			border: 0;
			border-color: var(--border-color, transparent);
			font-weight: 400;
			font-size: var(--fs, calc(1em - 1px));
			cursor: pointer;
			flex: none;
			align-items: center;
			gap: 5px 12px;
			display: inline-flex;

			i {
				padding: 4px;

			}

			&.active {
				background-color: var(--active-tab-menu-bc);
				color: var(--active-tab-menu-fc);
				font-weight: 500;

				i {
					background-color: #fff;
				}
			}
		}
	}

}