.section-header {
	display: flex;
	gap: 8px;
	padding: 1em 0 16px;
	align-items: center;
}

.section-header .title {
	margin-right: auto
}

.section-header .title .text {
	font-size: 24px;
	font-weight: 900;
	color: var(--font-color-default);
	margin: 0;

	font-weight: 700;
	font-family: 'TheJamsil5Bold';

}

loading-skeleton {
	width: 30%;
	border-radius: 4px
}

@media(max-width: 1280px) {
	.section-header .title .text {
		font-size: 20px;
	}
}

@media(max-width: 768px) {
	.section-header {
		padding-top: 0em
	}
}