.section-header {
	display: flex;
	gap: 8px;
	padding: 1em 0 16px;
	align-items: center;
	min-height: 68px;

	.title {
		display: flex;
		gap: 8px;
		margin-right: auto;

		.text {
			font-size: 24px;
			font-weight: 900;
			color: var(--font-color-default);
			margin: 0;

			font-weight: 700;
			font-family: 'TheJamsil5Bold';

		}
	}

	loading-skeleton {
		width: 30%;
		border-radius: 4px
	}

	.btn-wrap {
		display: flex;
		gap: 4px;

		.btn {
			--fs: calc(1em - 2px);
		}
	}

	@media(max-width: 1280px) {
		.title .text {
			font-size: 20px;
		}
	}

	@media(max-width: 768px) {
		padding-top: 0em
	}
}